<nav id="sidebar-icon-links">
  <a id="github-link"
     class="icon" title="Github Profile" aria-label="Github Profile"
     href="https://github.com/Alex-Desjardins">
    {% include svg/github.svg %}
  </a>

  <a id="linkedin-link"
     class="icon" title="Linked-in Profile" aria-label="Linked-in Profile"
     href="https://www.linkedin.com/in/alex-desjardins-59297b8b/">
    {% include svg/linkedin.svg %}
  </a>

  <a id="Medium-link"
     class="icon" title="Medium Profile" aria-label="Medium Profile"
     href="https://alex-desjardins.medium.com/">
    {% include svg/medium.svg %}
  </a>
</nav>
